<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>introduction.md</key>
			<dict>
				<key>lastModification</key>
				<real>524144509.18786103</real>
				<key>version</key>
				<dict>
					<key>26d177b6392b7d7ac63d617e5e4b7e5befb5f84a320d3e4064c24301d7ec54ee</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>layout.md</key>
			<dict>
				<key>lastModification</key>
				<real>524144461.90292603</real>
				<key>version</key>
				<dict>
					<key>26d177b6392b7d7ac63d617e5e4b7e5befb5f84a320d3e4064c24301d7ec54ee</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>introduction.md</string>
		</array>
		<array>
			<string>layout.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>26d177b6392b7d7ac63d617e5e4b7e5befb5f84a320d3e4064c24301d7ec54ee</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
